<% layout("layouts/boilerplate.ejs") %>
<body>
    <div class="showContainer">
        <div class="post">
            <h1 class="title"><%= blog.title %></h1>
            <div class="postMeta">
                <span class="author">Author: <%= blog.owner.username %></span>
                <span class="date"><%= blog.dateCreated.toString().split(" ")[4] %> | <%= blog.dateCreated.toString().split(" ").splice(0, 4).join(" ") %></span>
                <span class="tag"><%= blog.tag %></span>
            </div>
            <hr class="postHr">
            <img src="<%= blog.image %>" alt="Blog Image" class="image">
            <h3 class="description"><%= blog.description %></h3>
        </div>
        
        <div class="contentContainer">
            <%- blog.content1 %><!-- Display content1 -->
        </div>

        <% if (CurrentUser && CurrentUser._id.equals(blog.owner._id)) { %>
        <div class="btnContainer">
            <a href="/blogs/<%= blog.id %>/edit" class="btn editbtn">Edit</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
                <button class="btn deletebtn">Delete</button>
            </form>
        </div>
        <% } %>
    </div>
</body>
